
  
   *,*:before,*:after{
    box-sizing:border-box;
}
body{
    background:hsl(233, 47%, 7%);
}
#main{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:hsl(244, 38%, 16%);
    font-family:'Inter', sans-serif;
    text-align:center;
    max-width:21em;
    font-size:15px;
    border-radius:7px;height:auto;
   
}

#content{
    margin:1em;
}
#img{ 
    width:21em;
    height:auto;
    background-color:hsl(277, 64%, 61%);
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}
    img{
    display:block;
    max-width:100%;
    mix-blend-mode:multiply;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    opacity:0.8;
}
#head{   
    color: hsl(0, 0%, 100%); 
    width:19em;
    
}
.text-style{
    color:hsl(277, 64%, 61%);
}
.para{
    color: hsla(0, 0%, 100%, 0.75);
    text-align:center;
    margin:1em 0 2.5em 0;
    width:18em;
    line-height:1.5;
    
}
#stats{
    color:hsl(0, 0%, 100%);
    font-weight:700;
    font-size:22px;
 }
.stat-head3,.stat-head2,.stat-head1{
    color: hsla(0, 0%, 100%, 0.6);
    text-transform:uppercase;
    font-family:'Lexend Deca', sans-serif;
    font-weight:400;
    font-size:15px;
}


@media (min-width:1080px){
    #main{
    display:flex;
    flex-direction:row-reverse;
    min-width:70%;
    height:auto;

    }
    #content{
        font-size:1.237vw;
        height:auto;
        width:100%;
        display:flex;
        flex-direction:column;   position:relative;
        left:2%;
    }
    #img{ 
        width:100%;
        height:auto;
        background-color:hsl(277, 64%, 61%);
        border-top-right-radius:7px;
        border-bottom-right-radius:7px;
    }
img{
    display:block;
    max-width:100%;
    mix-blend-mode:multiply;
    opacity:0.8; 
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;

}
      
    #head{
        text-align:start;
        width:80%; 
        position:relative;
        left:3%;
    }
    .para{
        text-align:start;
        padding-top:1em;
        font-size:0.9923vw;
        width:23.5em;
        position:relative;
        left:3%;
        bottom:2em;
        font-weight:400;
    }
    #stats{
        display:flex;
        justify-content:space-between;   
        text-align:start;  
        width:70%;
        height:3.5em;
        position:relative;
        left:3%;
        bottom:1.3em;
        font-weight:700;
}
.stat-head3,.stat-head2,.stat-head1{
       font-size:0.8784vw;
       padding-bottom:2em;
    
}
}
